body{
  color: #40514E ;
  text-align: center;
  font-family:'Volkhov' , serif;
  font-size: 100%;
  margin: 0


}
hr{
  border-style: dotted;
  color: #9e9d89;
  width: 4%;
  margin: 100px auto;
}
h1{
  font-family:'Sacramento', cursive;
  color: #66BFBF ;
  font-size: 5.625rem;
  margin:  50px auto 50px auto;
}


h2{
  color: #66BFBF;
  font-family: 'Exo 2', sans-serif;
  font-size: 3.0rem;
  padding-bottom: 10px;

}
h3{
  color: #11999E;
  font-family: 'Exo 2', sans-serif;
  font-size: 2.0rem;
}
a{
  color: white;
  font-family:'Exo 2' , sans-serif;
  margin: 10px 20px ;
  text-decoration: none;
}
a:hover{
  color: black;
}
.first{
  background-color: #393e46;
  position: relative;
  padding-top: 100px;



}
.second{
  margin: 100px 0;
}
.third{
  background-color:  #40514E;
  padding: 50px 0 20px ;

}
.bottomcloud{
  position: absolute;
  left: 200px;
  bottom:  350px;
  width: 200px;


}

.topcloud{
      position: absolute;
    right:  225px;
    top: 50px;
    width: 200px;
}

.profile-image{
  width: 20% ;

}

.web-image{
  width: 25%;
  float: left;
  margin-right: 50px;

}

.guitar{
  width: 25% ;
  float: right;
  margin-left: 50px;
}
.prog{
  color: white;
  font-size: 40px;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.intro{
  width: 30%;
  margin: auto
}

.contactmsg{
width: 40% ;
margin: 40px auto 40px;
padding: 20px 40px;

}
.copyright{
  color: white ;

}
.btn {
  background: #3455d9;
  background-image: -webkit-linear-gradient(top, #3455d9, #1249b8);
  background-image: -moz-linear-gradient(top, #3455d9, #1249b8);
  background-image: -ms-linear-gradient(top, #3455d9, #1249b8);
  background-image: -o-linear-gradient(top, #3455d9, #1249b8);
  background-image: linear-gradient(to bottom, #3455d9, #1249b8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3ccefa;
  background-image: -webkit-linear-gradient(top, #3ccefa, #34ced9);
  background-image: -moz-linear-gradient(top, #3ccefa, #34ced9);
  background-image: -ms-linear-gradient(top, #3ccefa, #34ced9);
  background-image: -o-linear-gradient(top, #3ccefa, #34ced9);
  background-image: linear-gradient(to bottom, #3ccefa, #34ced9);
  text-decoration: none;
}
